* {
  --header-height: 40vh;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(239, 242, 243);
  overflow-x: hidden;
}

.left-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  /* flex: 2.7; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.right-section {
  /* flex: 7.3; */
  margin-left: auto;
  width: 70%;
  background: rgb(245, 246, 242);
}

.main-section {
  width: 100%;
  /* height: 100%; */
  padding: 30px 25px;
}


/* MEDIAQUERIES */

@media (max-width: 1180px) {
    .left-section {
      /* display: none; */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: 100;
    }

    .close-btn {
      position: absolute;
      top: 40px;
      right: 40px;
      color: #fff;
    }

    .close-icon {
      font-size: 1.6rem;
    }

    .left-section.noDisplay,
    .close-btn.noDisplay {
      display: none;
    }

    .right-section {
      width: 100%;
    }
}


@media (max-width: 640px) {
  .main-section {
    width: 100%;
    /* height: 100%; */
    padding: 30px 15px;
  }
}